<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.HProdDao">
    <select id="selectById" resultType="com.demo.domain.HProdEntity">
        select * from h_prod
        WHERE id = #{id}
    </select>
</mapper>