<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.HUnionProdDao">
    <select id="selectById" resultType="com.demo.domain.HUnionProdEntity">
        select * from h_union_prod
        WHERE id = #{id}
    </select>

    <select id="selectByIdAndType" resultType="com.demo.domain.HUnionProdEntity">
        select * from h_union_prod
        WHERE id = #{id} and union_type=#{unionType}
    </select>

</mapper>